@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");
*:focus{
  box-shadow: none !important;
}
.App{
  min-height: 100vh;
  text-align: center;
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 40px;
}